/* CSS code for toggle button component */
.toggleSliderText {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-family: cursive;
    font-weight: bold;
    color: gray;

  }
  
  .toggleSliderLabel {
    margin-left: 10px;

  }
  
  .toggleSliderSwitch {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #ccc;
    transition: background-color 0.4s ease-in-out;
  }
  
  .toggleSliderSwitchKnob {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: linear-gradient(to right, blue, blue 33.33%, white 33.33%, white 66.67%, red 66.67%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out;
  }
  

  